.caixa {
  width: 200px;
  height: 100px;
  background-color: lightgray;
  margin-bottom: 1rem;
  transition: 0.3s;
}
.grande {
  width: 300px;
  height: 150px;
}
.vermelha {
  background-color: red;
}
.borda {
  border: 3px solid black;
}
.container{
  background-color: blue;
  width: 50px;
  height: 300px;
}