* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
  font-family: sans-serif;
  padding: 20px;
}

.todo-container {
  background: white;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

#task-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.btn {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 5px;
}

#add-task-btn {
  background: #7f4caf;
}
#add-task-btn:hover {
  background: #4a0689;
}

#save-tasks-btn {
  background: #4caf50;
}
#save-tasks-btn:hover {
  background: #036406;
}

#delete-tasks-btn {
  background: #dd6767;
}

#delete-tasks-btn:hover {
  background: #b23737;
}

#task-list {
  list-style: none;
  margin-top: 20px;
}

#task-list li {
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s;
  cursor: pointer;
}

#task-list li:hover {
  background: #f1f1f1;
}

.done {
  text-decoration: line-through;
  color: rgb(108, 15, 15);
}

.delete-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.delete-btn:hover {
  background: #e60000;
}
